<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="LibraryUniversity.Properties.Settings.DBUniversityConnectionString" connectionString="Data Source=NATALI-PC\SQLEXPRESS;Initial Catalog=DBUniversity;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBUniversityEntities" connectionString="metadata=res://*/Model.LibraryModel.csdl|res://*/Model.LibraryModel.ssdl|res://*/Model.LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NATALI-PC\SQLEXPRESS;Initial Catalog=DBUniversity;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DBUniversityLibraryEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NATALI-PC\SQLEXPRESS;Initial Catalog=DBUniversity;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>